@use "../abstracts/mixins" as mixins;

@import "https://unpkg.com/open-props"; 
@import "https://unpkg.com/open-props/normalize.min.css"; 


.hero {
    padding: var(--size-2);
    display: grid;
    gap:var(--size-2);
    place-items: top;
    place-content: center;
    overflow: hidden;


    @include mixins.simple-grid(1rem);
    grid-template: "container";

    >* {
        grid-area: container;
        margin-inline: auto;
    }
}